.carousel-item{
    position: relative;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    img{
        filter: brightness(40%);
    }
    .slider-text{
        position: absolute;
        color: white;
        span {
            font-weight: 500;
            font-size: 30px;
            letter-spacing: -1px;
          }
          h1 {
            font-size: 80px;
            font-weight: 700;
            margin-top: 15px;
          }
          button {
            top: 150px;
            font-weight: 600;
            cursor: pointer;
            padding: 1.2rem 3rem;
            margin-top: 15px;
          }
    }
}
button{

    .right , .left{
        background-color: rgba(58, 146, 204, 0.918);
        filter: opacity(100%);
        font-size: 30px;
        padding: 13px 30px;
        &:hover{
            background-color: rgba(58, 146, 204, 0.479) ;
            transition: 0.6s;
        }
        i{
            color: white;
        }
    }
}